body {
    margin: 0;
    font: 400 16px/18px Arial, sans-serif;
}

body * {
    box-sizing: border-box;
}

main {
    width: 100%;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    position: relative;
}

main.loading:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: url(./images/loader.svg) no-repeat center / 50px rgba(255, 255, 255, 0.8);
    pointer-events: none;
}

.users__list {
    display: flex;
    flex-wrap: wrap;
}

.users__list:not(:empty) {
    margin-top: 30px;
}

.users__item {
   flex-basis: 20%;
    margin-bottom: 20px;
}

.users__item > img {
    border-radius: 4px;
}

.users__item span {
    font-weight: 700;
}

.users__button {
    display: block;
    margin: 0 auto;
    padding: 15px 30px;
    background-color: #1f6ec6;
    border-radius: 6px;
    font-weight: 400;
    font-size: 18px;
    color: #fbfcfd;
    border: 1px solid transparent;
    cursor: pointer;
    transition-duration: .3s;
}

.users__button:hover {
    background-color: #4d89cc;
}

.users__button:active {
    background-color: #004ca3;
}